:root{
    --blue: #0000FF;
    --red: #FF0000;
    --green: #34b234;
    --backgroundColor: #afcde3;
    --textColor: #333;
    --buttonColor: #008CBA;
}
body{
    background-color: var(--backgroundColor);
    justify-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#menuContainer{
    justify-items: center;
    margin:15px;
}
canvas{
    background-color: var(----backgroundColor);
}
.button{
    background-color: var(--green);
    border-radius: 5px;
    width: 120px;
    text-align: center;
    margin:20px;
    padding:5px
}
.button:hover{
    color:var(--backgroundColor);
    cursor:pointer
}